sqlalchemy  >= 2.0.10
colorama >= 0.4.6
pandas >= 2.0.1
cloud-sql-python-connector >= 1.2.2
cloud-sql-python-connector[pg8000] >= 1.2.2
beautifulsoup4 >= 4.12.2
requests >= 2.29.0
nltk >= 3.8.1
scikit-learn >= 1.2.2
torch >= 2.0.0
tensorflow >= 2.12.0